<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'partials/header.html' %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tree.css') }}">
</head>

<body>
    <input type="hidden" id="folder_path" value="{{folder_path}}">
    {% include 'partials/tree/screenLoad.html' %}
    {% include 'partials/navbar.html' %}
    {% include 'partials/tree/tree.html' %}
    {% include 'partials/tree/formCreateCommit.html' %}
    {% include 'partials/tree/formCreateBranch.html' %}
</body>

</html>