



<!-- Recent Projects Section -->
<div class="recent-projects">
    <h2>Recent Projects</h2>
    <div class="project-list">

        <!-- we will show all the Projects in the folder -->
        {% for folder in foldersInfo %}
            <form action="open_project" method="post" id="form-{{ loop.index }}">
                <div class="project-item" onclick="send_form('form-{{ loop.index }}')">
                    <img src="{{ url_for('static', filename='img/icon.webp') }}" alt="Project Icon">
                    <div class="project-info">
                        <h3>{{folder.name}}</h3>
                        <p>{{ folder.modification_time }}</p>
                        <p>{{ folder.path }}</p>
                    </div>
                </div>

                <!-- this is the path of the folder of the folder-->
                <input type="hidden" value="{{ folder.path }}" name="folder_path">
            </form>
        {% endfor %}
    </div>
</div>

<script>
    function send_form(formId){
        document.getElementById(formId).submit();
    }
</script>