<!-- Formularios -->
<div id="form1" class="form-container">
    <form action="/create_a_new_commit" method="post">
        <div class="form-header">
            <img src="{{ url_for('static', filename='img/icon.webp') }}" alt="">
            <h3>Create new Commit</h3>
            <p>Start a blank project and build your idea from scratch.</p>
        </div>

        <!--this is for know where the folder is located-->
        <input type="hidden" name="pathProject" value="{{folder_path}}">

        <div class="form-group">
            <label for="location">Branch:</label>
            <input type="text" name="branchName" placeholder="C:\Projects" value="{{currentBranch}}" required readonly>
        </div>

        <div class="form-group">
            <label for="projectName1">Commit:</label>
            <textarea id="" name="commit"  placeholder="Ej. Project_A" required> 

            </textarea>
        </div>

        <div class="button-group">
            <button onclick="closeAllForms('form1')" class="button-cancel" type="button">Cancel</button>
            <button class="button-go">Save!</button>
        </div>
    </form>
</div>