
    <div class="row">
        <div class="col">
            <div id="diagram" class="diagram"></div>
            <div id="tooltip" class="tooltip"></div> <!-- Tooltip para los mensajes -->
        </div>
        <div class="col-2">
            <div class="information-commit">
                <br><br>
                <img src="https://img.freepik.com/premium-vector/cute-astronaut-working-as-programmer_332004-204.jpg"
                    alt="" class="img-autor">
                <br>
                <label for="" class="date" id="commitDate">0000-00-00</label>
                <h3 class="author" id="commitAuthor">Author</h3>
                <h5 class="nameBranch" id="branchName">Branch Name</h5>
                <label for="" class="message" id="message">Commit</label>
                <hr>
                <div class="row">
                    <div class="col" style="padding-left: .5rem;">
                        <button class="tooltip-button btn-commits" data-tooltip="Create Branch" onclick="toggleForm('form2')"><img src="{{ url_for('static', filename='img/icon/1.webp') }}" alt=""></button>
                    </div>
                    <div class="col">
                        <button class="tooltip-button btn-commits" data-tooltip="Create and save a new commit" onclick="toggleForm('form1')"><img src="{{ url_for('static', filename='img/icon/2.webp') }}" alt=""></button>
                    </div>
                    <div class="col">
                        <button class="tooltip-button btn-commits" data-tooltip="Combine 2 branches" onclick="toggleForm('form3')"><img src="{{ url_for('static', filename='img/icon/3.webp') }}" alt=""></button>
                    </div>
                    <div class="col">
                        <button class="tooltip-button btn-commits" data-tooltip="Clone a commit" onclick="toggleForm('form4')"><img src="{{ url_for('static', filename='img/icon/4.webp') }}" alt=""></button>
                    </div>
                    <div class="col">
                        <button class="tooltip-button btn-commits" data-tooltip="Status Project" id="btnGetChanges"><img src="{{ url_for('static', filename='img/icon/5.webp') }}" alt=""></button>
                    </div>
                </div>
                <div id="tooltip-2" class="tooltip-2"></div>
                <hr>
                {% include 'partials/tree/terminal.html' %}
            </div>
        </div>
    </div>
    
    
    <script src="{{ url_for('static', filename='js/tree.js') }}"></script>
    <script>
        let commits = [];
        document.addEventListener("DOMContentLoaded", () => {
            const dataGitFolder = {{ dataGitFolder | tojson}};
            
            const branches = dataGitFolder.branches.map(branch => ({
                name: branch.toUpperCase(),
                color: getBranchColor(branch)
            }));

            
            for (const branchName in dataGitFolder.commits) {
                dataGitFolder.commits[branchName].forEach(commit => {
                    commits.push({
                        id: commit.hash,
                        branch: branchName.toUpperCase(),
                        message: commit.message,
                        author: commit.author,
                        date: commit.date
                    });
                });
            }

            renderDiagram(branches, commits);
        });

        function getBranchColor(branchName) {
            const colors = {
                'MAIN': '#FF6B6B',
                'MASTER': '#FF6B6B',
                'HOT': '#4C6EF5',
                'RELEASE': '#FF79C6',
                'DEVELOP': '#FFD166',
                'FEATURE': '#06D6A0'
            };
            return colors[branchName.toUpperCase()] || '#AAAAAA';
        }

        function renderDiagram(branches, commits) {

            //get the <diagram> and the <tooltip> for show the message of the commit after
            const diagramContainer = document.getElementById('diagram');
            const tooltip = document.getElementById('tooltip');
            
            //we will read all the branch for draw in the screen
            branches.forEach(branch => {
                //this is for know if this is the current branch, for use after in the color
                const currentBranch=document.getElementById('currentBranch').value; //get the name of the current branch
                let thisIsTheCurrentBranch=branch.name.toLowerCase() === currentBranch.toLowerCase();
  
                //----------------we will create the div of the branch and we will add his character----------------
                const branchContainer = document.createElement('div');
                branchContainer.classList.add('branch');
                branchContainer.dataset.branch = branch.name;

                //add the title to the div
                const branchTitle = document.createElement('div');
                branchTitle.classList.add('branch-title');

                //we will see if the branch is the current branch for show in the screen, else we will draw of white
                branchTitle.style.backgroundColor = thisIsTheCurrentBranch ? '#FFDD40' : '#AAAAAA';

                branchTitle.textContent = branch.name;
                branchContainer.appendChild(branchTitle);
                ///------------------------------------------------------------------------------------------------

                //when the branch not do the current branch, we will add this function
                //when the use do click in the branch, we will show the show of change of branch
                if(!thisIsTheCurrentBranch){
                    branchContainer.addEventListener('click', () => {
                        //we will get the element of the input of the form for change the branch and update his value with the name of the branch select
                        document.getElementById('changeBranch').value=branch.name;
                        toggleForm('formChangeBranch') //show the form
                    });
                }

                //get all the commit of the branch for draw after
                const branchCommits = commits.filter(commit => commit.branch === branch.name);

                // save the element of the commit for that we will use after in the connection 
                const commitElements = [];

                //we will read all the commit of the branch for draw in screen
                branchCommits.forEach(commit => {
                    //----------------we will create the div of the commit and we will add his character----------------
                    const commitElement = document.createElement('div');
                    commitElement.classList.add('commit');
                    commitElement.id = commit.id;
                    commitElement.dataset.message = commit.message;
                    //--------------------------------

                    //we will see if the commit is of the current branch, regardless of upper or lower case                   
                    if (thisIsTheCurrentBranch){
                        commitElement.classList.add('current-branch');
                    }

                    /**
                        this function is for draw the message of the commit in screen when the user mouse over a commit
                    **/
                    //Event listeners for show the el tooltip
                    commitElement.addEventListener('mouseenter', (e) => {
                        tooltip.textContent = commit.message;
                        tooltip.style.display = 'block';
                        commitElement.style.cursor = 'pointer'; // change the cursor to pointer
                    });

                    commitElement.addEventListener('mousemove', (e) => {
                        tooltip.style.left = e.pageX + 10 + 'px';
                        tooltip.style.top = e.pageY + 10 + 'px';
                    });

                    commitElement.addEventListener('mouseleave', () => {
                        tooltip.style.display = 'none';
                    });

                    //Click event to call functionupdateDataInTheScreen
                    commitElement.addEventListener('click', () => {
                        updateDataInTheScreen(commit.id); //Call the function with the commit ID
                        resetCommitSelect(); //this is for that None commits this selected
                        commitElement.classList.add('commit-select'); //add the class <commit-select> for that the use know the commit that is select
                    });
                    branchContainer.appendChild(commitElement);


                    commitElements.push(commitElement); //Add the commit to the list for join them later
                });

                diagramContainer.appendChild(branchContainer);

                //Connect the commits of this branch after they have been added to the DOM
                for (let i = 0; i < commitElements.length - 1; i++) {
                    connectCommits(commitElements[i], commitElements[i + 1]);
                }
            });
        }

        function resetCommitSelect(){
            const commitElements = document.querySelectorAll('.commit');
            commitElements.forEach(element => {
                element.classList.remove('commit-select'); // Quita la clase
            });
        }

        function connectCommits(commitA, commitB) {
            const svgContainer = document.createElementNS("http://www.w3.org/2000/svg", "svg");
            svgContainer.setAttribute("class", "connection");
            svgContainer.style.position = "absolute";
            svgContainer.style.top = "0";
            svgContainer.style.left = "0";
            svgContainer.style.width = "100%";
            svgContainer.style.height = "100%";
            document.body.appendChild(svgContainer);

            const rectA = commitA.getBoundingClientRect();
            const rectB = commitB.getBoundingClientRect();

            const line = document.createElementNS("http://www.w3.org/2000/svg", "line");
            line.setAttribute("x1", rectA.x + rectA.width / 2);
            line.setAttribute("y1", rectA.y + rectA.height / 2);
            line.setAttribute("x2", rectB.x + rectB.width / 2);
            line.setAttribute("y2", rectB.y + rectB.height / 2);
            line.setAttribute("stroke", "#ccc");
            line.setAttribute("stroke-width", "2");

            svgContainer.appendChild(line);
        }
   
        function updateDataInTheScreen(commitId){
            // Buscar el commit en el array usando el ID proporcionado
            const commit = commits.find(c => c.id === commitId);
            console.log(commit.branch)
            if (commit) {
                document.getElementById('commitDate').innerText  = new Date(commit.date).toISOString().slice(0, 10);;
                document.getElementById('branchName').innerText =commit.branch;
                document.getElementById('message').innerText =commit.message;
                document.getElementById('commitAuthor').innerText =commit.author;
            } else {
                alert('Commit no encontrado');
            }
        }

        let scaleFactor = 1; // Factor de escala inicial
        let aument=10
        function updateCommitSpacing() {
            const commits = document.querySelectorAll('.commit');
            commits.forEach(commit => {
                //commit.style.transform = `scale(${scaleFactor})`; // Aplica la escala a cada commit
                commit.style.margin = `0 ${scaleFactor}px`;
            });
        }

        window.addEventListener('keydown', (event) => {
                if (event.key === '=') {
                    scaleFactor += aument; // Aumentar el factor de escala
                    updateCommitSpacing(); // Llama a la función para aplicar el nuevo espaciado
                } else if (event.key === '-') {
                    scaleFactor = Math.max(0, scaleFactor - aument); // Disminuir el factor de escala
                    updateCommitSpacing(); // Llama a la función para aplicar el nuevo espaciado
                }
            
        });
   </script>
   <script>
        const tooltip2 = document.getElementById('tooltip-2');

        document.querySelectorAll('.tooltip-button').forEach(button => {
            button.addEventListener('mouseenter', (e) => {
                // Obtener el texto del tooltip del atributo data-tooltip
                const tooltipText = button.getAttribute('data-tooltip');
                tooltip2.textContent = tooltipText;
                tooltip2.style.display = 'block';

                // Posicionar el tooltip cerca del botón
                const rect = button.getBoundingClientRect();
                tooltip2.style.left = `${rect.left + window.scrollX}px`;
                tooltip2.style.top = `${rect.bottom + window.scrollY + 5}px`; // 5 píxeles debajo del botón
            });

            button.addEventListener('mousemove', (e) => {
                // Actualizar la posición del tooltip
                tooltip2.style.left = `${e.pageX + 10}px`; // Mover 10 píxeles a la derecha del cursor
                tooltip2.style.top = `${e.pageY + 10}px`; // Mover 10 píxeles abajo del cursor
            });

            button.addEventListener('mouseleave', () => {
                tooltip2.style.display = 'none'; // Ocultar el tooltip
            });
        });
   </script>
    
    
    
    
    <script>
        document.getElementById('btnGetChanges').addEventListener('click', function() {
            const folderPath = document.getElementById('folder_path').value;

            // show the load screen
            document.getElementById('loadingOverlay').style.display = 'flex';

            //Make the POST request to the Flask server
            fetch('/get_changes_of_my_project', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ folderPath: folderPath })
            })
            .then(response => response.json())
            .then(data => {
                // hidden the screen load
                document.getElementById('loadingOverlay').style.display = 'none';

                // show the answer of the server
                printToTerminal('Modified files: ');
                printToTerminal(data.answer, 'red');
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });
    </script>